.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.6em;
}

.table {
  background-color: #f3f3f3;
}

.btn {
  margin: 1px;
}

.Console {
  font-family: monospace;
  font-size: 90%;
  text-align: left;
}

.MainArea {
  margin-top: 32px;
}

.RefreshBtn {
  margin-bottom: 25px;
}

.CreateBtn {
  margin-bottom: 16px;
}

.Button {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.Logout {
   position: fixed;
   right: 10px;
   top: 5px;
}

.Login {
   margin-top: 30px;
}

.ControlLabel {
  margin-top: 15px;
}

.Navigation {
  margin-bottom: 25px;
}

h5 {
  font-weight: bold;
  color: #428bca;
}
