/*
    Defines the API route we are using.
*/
var api_url = '';
var client_key = '';
var client_id = '';

switch( process.env.NODE_ENV ){
  case 'development':
    api_url = 'https://localhost';
  break;
  case 'production':
    api_url = 'https://prod.de';
  break;
}

export const LEXIC_CONFIG = {
  API_URL: api_url,
  CLIENT_ID: client_id,
  CLIENT_KEY: client_key,
}