/*
    Defines the API route we are using.
*/
var api_url = '';

switch( process.env.NODE_ENV ){
  case 'development':
    api_url = 'http://localhost:8080/api/v2';
  break;
  case 'production':
    api_url = 'https://prod.de/api/v2';
  break;
}

export const TRAINDB_CONFIG = {
  API_URL: api_url,
}